<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<bean id="customerRepository" class="pl.bal.konrad.CustomerRepoImpl"></bean>
	<bean id="loggingAspect" class="pl.bal.konrad.LoggingAspect"></bean>

	<aop:config>
		<aop:pointcut
			expression="execution(* pl.bal.konrad.CustomerRepository.get*(..) )"
			id="allGetters" />
		<aop:aspect ref="loggingAspect">
			<aop:before method="logExecution" pointcut-ref="allGetters" />
			<aop:after-returning method="warnIfNull"
				pointcut-ref="allGetters" returning="returnedValue" />
		</aop:aspect>

	</aop:config>
</beans>
